body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0 1rem;
    padding: 0;
}

article {
    margin: 0 auto;
    padding: 0 10px;
    background-color: grey;
}

#most-popular-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-color: #000000;
    width: 100%;  
}

#most-popular-movie > div {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mpm-button {
    position: relative;
    top: 0;
    left: 0;
}

#mpm-title {
    font-size: 48px;
}

.main-nav-bar {
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    margin: 0px;
    background-color: #000000;
    border-bottom: 1px solid #ffffff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav-bar > a {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    padding: 0 3rem;
}

.most-popular-movie-section {
    border: #ffffff 1px solid;
    display: flex;
    margin: 1rem;
    padding: 0 3rem;
    overflow: hidden;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 2rem;
}

.slides-container {
    height: 40vh;
    width: 100%;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin: 10px;
    padding: 0 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slide-arrow {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2vw;
    width: 25%;
}

.slide > img {
    height: 100%;
    object-fit: cover;
}

/* Movie data modal */
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: grey  ;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%;
}

.modal-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content > p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}